<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Deadpool.jpg" %>
	</div>

	<div id="content">
		<h1>Yo! I'm DeadPool</h1>
		<p>Welcome to my DeadBlog.</p>
		<p>I made this blog in Rails 4. You're actually DUMB, this is Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/deadpool">Dead Pool</a> or on the web at <a href="www.foxmovies.com/movies/deadpool">Deadpool.me</a></p>
	</div>
</div>